
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewBind</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .input-group-addon {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .input-groupWrap {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 2rem;
            background-color: #f8f8f8;
            border-bottom: 1px solid #e7e7e7;
        }

        .ovh {
            overflow: hidden;
        }

        .flr {
            float: right;
        }

        .modal-body {
            background: #f9f9f9;
        }

            .modal-body .customerTit {
                font-size: 16px;
                border-bottom: 1px solid #bdbdbd;
                padding-bottom: 8px;
                /* color: #8f45c7; */
            }

            .modal-body .input-group {
                margin-bottom: 1rem;
            }

        .textTips {
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 0;
            display: block;
        }
        .input-group span {
            position: relative;
        }

        .iconText {
            position: absolute;
            font-size: 2rem;
            color: #fbbf37;
            left: 0;
            /* top: 25%; */
            line-height: 20px;
            /* margin-top: -10%; */
        }

        .menuLeft {
            float: right;
            color: white;
            line-height: 50px;
            font-size: 16px;
            padding: 0rem 1rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default" style="border:none;margin-bottom:0px;">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color:#286090;">
                <span class="menuLeft glyphicon glyphicon-chevron-left" onclick="javascript: history.back()"></span>
                <a class="navbar-brand" href="#" style="color:white;"><i class="fa fa-users" id="linkHome"></i>&nbsp;用户绑定</a>
            </div>
        </div>
    </nav>
    <div class="input-group input-groupWrap">
        <input type="text" id="custName" class="form-control" placeholder="请输入要绑定的客户名称或拼音首字母" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="btnSub"><i class="fa fa-search"></i>&nbsp;查询</span>
    </div>

    <ul id="customersList" class="list-group">
        @*<li data-flag="2" class="list-group-item">
                    <span>深圳大浪淘沙</span>
                    <button class="btn btn-info btn-xs flr" data-id="1399">查看问题</button>
            </li>*@
    </ul>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        确认绑定
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 id="customerTit" class="customerTit"></h4>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="iconText">*</i>用户名</span>
                        <input type="text" class="form-control" id="user" placeholder="请输入用户名" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="iconText">*</i>邮　箱</span>
                        <input type="text" class="form-control" id="mail" placeholder="请输入您的电子邮箱" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="iconText">*</i>职　位</span>
                        <input type="text" class="form-control" id="groups" placeholder="请输入您在贵公司的职位" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="iconText">*</i>手机号</span>
                        <input type="text" class="form-control" id="telnum" placeholder="请输入手机号" aria-describedby="basic-addon1" value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="iconText">*</i>验证码</span>
                        <input type="text" class="form-control" id="vercode" placeholder="请输入验证码" aria-describedby="basic-addon2">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="getVerCode">获取</button>
                        </span>
                    </div>
                    <span id="tip" class="textTips" style="color:red;"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" id="BindMobile" class="btn btn-primary">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            //根据关键字查询客户列表
            $('#btnSub').click(function () {
                $.ajax({
                    url: "/Contact/GetCustomers",
                    data: { custName: $('#custName').val() },
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        if (res.success)
                            data = res.data
                        if (data != null) {
                            console.log(data)
                            $("#customersList").empty()
                            var html = ''
                            console.log($('#custName').val())
                            for (var i = 0; i < data.length; i++) {
                                html += '<li class="list-group-item ovh" data-toggle="modal" data-target="#myModal" data-cid="' + data[i].customerid + '">'
                                    + '<span>' + data[i].customerName + '</span>'
                                    + '</li>'
                            }
                        }
                        $("#customersList").append(html);
                        $('#customersList li').each(function () {
                            $(this).click(function () {
                                console.log($(this).children('span').text())
                                $('#customerTit').text($(this).children('span').text())
                                $('#customerTit').data('cid', $(this).data('cid'))
                                console.log($(customerTit).data('cid'))
                            })
                        })
                    },
                    error: function (e) {
                        alert(e);
                    }
                })
            })
            $('#linkHome').click(function () {
                location.href = '/Home/Index';
            })
            var LockCard_InterValObj; //timer变量，控制时间
            var LockCard_count = 60; //间隔函数，1秒执行
            var LockCard_curCount;//当前剩余秒数
            //timer处理函数
            function LockCard_SetRemainTime() {
                if (LockCard_curCount == 0) {
                    window.clearInterval(LockCard_InterValObj);//停止计时器
                    $FbtnSendCode.removeAttr("disabled");//启用按钮
                    $FbtnSendCode.html("重新获取");
                }
                else {
                    LockCard_curCount--;
                    $FbtnSendCode.html(LockCard_curCount + '秒');
                }
            }
            //绑定手机号验证码获取
            $FbtnSendCode = $('#getVerCode');
            $FbtnSendCode.click(function BindMobile_SendMessage() {
                var Mobile = $("#telnum").val().trim();
                if (Mobile == "" || Mobile == null) {
                    $("#tip").text('请输入手机号');
                    return;
                }
                var telReg = !!Mobile.match(/^(0|86|17951)?(13[0-9]|15[0-9]|17[0-9]|18[0-9]|14[0-9])[0-9]{8}$/);
                //如果手机号码不能通过验证
                if (telReg == false) {
                    $("#tip").text('手机号格式错误');
                    return;
                }
                //设置button效果，开始计时
                $FbtnSendCode.prop("disabled");
                $("#tip").text('发送中……').css('color', 'orange')
                LockCard_curCount = LockCard_count;
                $FbtnSendCode.html(LockCard_curCount + '秒');
                LockCard_InterValObj = window.setInterval(LockCard_SetRemainTime, 1000); //启动计时器，1秒执行一次

                //向后台发送处理数据
                $.ajax({
                    type: "POST", //用POST方式传输
                    dataType: "JSON", //数据格式:JSON
                    url: '/Unity/MobileBindMobileVerifyCode', //目标地址
                    data: { 'mobile': Mobile },
                    success: function (data) {
                        if (data.code == 0) {
                            $("#tip").text('发送成功').css('color', 'green')
                        }
                        else {
                            if (data.msg = "创建短信通道失败：类未定义")
                                data.msg = "抱歉！此公众号尚未绑定短信平台，无法发送短信验证码。"
                            $("#tip").text(data.msg);
                        }
                    },
                    error: function (e) {
                        alert(e)
                    }
                });
            });
            $("#BindMobile").click(function () {
                var user = $.trim($('#user').val());
                var mail = $.trim($('#mail').val());
                var moblie = $.trim($("#telnum").val());
                var code = $.trim($("#vercode").val());
                var groups = $.trim($("#groups").val());
                var cid = $.trim($("#customerTit").data('cid'));

                if (user == "") {
                    $("#tip").text('请输入用户名');
                    return;
                }
                if (mail == "") {
                    $("#tip").text('请输入邮箱');
                    return;
                }
                if (groups == "") {
                    $("#tip").text('请输入您在贵公司的职位');
                    return;
                }
                if (moblie == "") {
                    $("#tip").text('请输入手机号');
                    return;
                }
                if (code == "") {
                    $("#tip").text('请输入验证码');
                    return;
                }
                var postData = { User: user, Mail: mail, Mobile: moblie, Code: code, "Groups": groups, 'CustomerID': cid };
                $.ajax({
                    url: "/Contact/BindMobile",
                    data: postData,
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        if (data.code == 0) {
                            $("#tip").text('绑定成功!').css('color', 'green');
                            alert('绑定成功，请留意短信提示!')
                            setTimeout(function () {
                                window.location.href = '/Home/Index';
                            }, 1000)
                        }
                        else {
                            $("#tip").text(data.msg);
                        }
                    },
                    error: function (e) {
                        alert(e)
                    }
                })
            });
        })
    </script>
</body>
</html>
