<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <!--internalLogLevel="Warn" internalLogFile="internal-nlog.txt">-->
  <targets>
    <target name="allfile" xsi:type="File" fileName="./logs/${shortdate}/all.log" layout="${longdate} ${message} ${exception}------------------------------------------------------------------------\n" />
    <target name="debugfile" xsi:type="File" fileName="./logs/${shortdate}/debug.log" layout="${longdate} ${message} ${exception}------------------------------------------------------------------------\n" />
    <target name="infofile" xsi:type="File" fileName="./logs/${shortdate}/info.log" layout="${longdate} ${message} ${exception}------------------------------------------------------------------------\n" />
    <target name="warnfile" xsi:type="File" fileName="./logs/${shortdate}/warn.log" layout="${longdate} ${message} ${exception}------------------------------------------------------------------------\n" />
    <target name="errorfile" xsi:type="File" fileName="./logs/${shortdate}/error.log" layout="${longdate} ${message} ${exception}" />
    <target name="fatalfile" xsi:type="File" fileName="./logs/${shortdate}/fatal.log" layout="${longdate} ${message} ${exception}------------------------------------------------------------------------\n" />
    <!--将日志通过网络输出-->  
    <target name="network" xsi:type="Network" address="udp://chinacloudapp.cn:4561" layout="Development|${longdate} ${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--将日志输出到控制台-->
    <target name="debug" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile,debug" />
    <logger name="*" level="Info" writeTo="infofile" />
    <logger name="*" level="debug" writeTo="debugfile" />
    <logger name="*" level="warn" writeTo="warnfile" />
    <logger name="*" level="error" writeTo="errorfile" />
    <logger name="*" level="fatal" writeTo="fatalfile" />
  </rules>
</nlog>