<div class="login">
  <div class="container">
    <div id="logoWrap" class="logoWrap">
      <div class="logo"></div>
      <div class="title">
        <h2>微信报表</h2>
      </div>
    </div>
    <form>
      <div class="form-group has-error">
        <span id="helpBlock" class="help-block padding-left-2px"></span>
      </div>

      <div class="form-group">
        <label for="ne-userInp">用户名</label>
        <input type="email" class="form-control" id="ne-userInp" placeholder="用户名" value="">
      </div>
      <div class="form-group">
        <label for="ne-pwdInp">密码</label>
        <input type="password" class="form-control" id="ne-pwdInp" placeholder="密码" value="">
      </div>
      <button type="submit" class="btn btn-default ne-sub">登录<i></i></button>
    </form>
  </div>
</div>
<script src="../../assets/neoui/js/jquery.min.js"></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script>
  $(function () {

    // 解决输入法遮挡
    $('#ne-pwdInp').click(function () {
      document.body.scrollTop = 169;
      window.scrollTop = 169;
      $('body').scrollTop(200);
      $(window).scrollTop(200);
    })

    var $subtn = $('.ne-sub');
    $subtn.click(function () {
      document.body.scrollTop = 0;
      window.scrollTop = 0;

      var $nUser = $('#ne-userInp');
      var $nPwd = $('#ne-pwdInp');
      var $hpbk = $('#helpBlock');
      var usertxt = $nUser.val().trim();
      var pwdtxt = $nPwd.val().trim();
      if (usertxt == '' || pwdtxt == '') {
        $hpbk.fadeOut();
        $hpbk.parent().addClass('has-error');
        $hpbk.text('用户名或密码不能为空，请重新输入');
        $hpbk.fadeIn();

      } else {
        $subtn.text("登录中").append(' <i></i>');
        $subtn.children().show();
        $.post('/Hotel/Report/LoginSubmit?' + 'account=' + usertxt + '&pwd=' + pwdtxt, function (e) {
          if (e.success) {
            $hpbk.fadeOut();
            $subtn.text(e.msg);
            location.href = "/Hotel/RoomState/RealRoomState";
          } else {
            $hpbk.fadeOut();
            $hpbk.parent().addClass('has-error');
            $hpbk.text(e.msg);
            $hpbk.fadeIn();
            $subtn.text("登录");
          }
        });

      }

    });

    $(document).keydown(function (event) {
      if (event.keyCode == "13") { //keyCode=13是回车键
        $('.ne-sub').click();
      }
    });
  })
</script>